<div class="nav">
  <a href="#training1">Chest</a>
  <a href="#training2">Back</a>
  <a href="#training3">Legs</a>
</div>

<main>
  <article class="card" id="training1">
    <figure>
      <img
        src="../../assets/chest.jpg"
        alt="Chest Workout"
        width="500"
        height="500"
      />
      <figcaption><span class="nowrap">Chest Workout</span></figcaption>
    </figure>
    <p>Push hard</p>
  </article>
  <article class="card" id="training2">
    <figure>
      <img
        src="../../assets/back.jpg"
        alt="Back Workout"
        width="500"
        height="500"
      />
      <figcaption><span class="nowrap">Back Workout</span></figcaption>
    </figure>
    <p>Pull hard</p>
  </article>
  <article class="card" id="training3">
    <figure>
      <img
        src="../../assets/legs.jpg"
        alt="Legs Workout"
        width="500"
        height="500"
      />
      <figcaption><span class="nowrap">Legs Workout</span></figcaption>
    </figure>
    <p>Idk hard</p>
  </article>
</main>
