/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Variable */

:root {
  --BGCOLOR: #7fffd4;
  --ALT-BGCOLOR: #7fffd7;
}

body {
  font: 1.5rem "Nunito", san-serif;
  background-color: var(--BGCOLOR);
  background-image: radial-gradient(whitesmoke, var(--BGCOLOR));
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

ul {
  /* margin: 10px 10px; */
  list-style: none;
}

li {
  margin: 0px 10px;
}

.nowrap {
  white-space: nowrap;
}

/* Header and Footer CSS */

header,
footer {
  background-color: var(--ALT-BGCOLOR);
  position: sticky;
  color: white;
  text-align: center;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

/* Main CSS */

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
}

form {
  width: 30vw;
}

*:hover {
  outline: 1px blue solid;
}
