<main class="container">
  <h2>Register</h2>
  <form class="login" #form="ngForm" (ngSubmit)="register(form)">
    <label for="username">Username</label>
    <input
      type="username"
      name="username"
      id="username"
      placeholder="username"
      ngModel
      #inputUsername="ngModel"
      required
      minLength="4"
    />
    <ng-container *ngIf="inputUsername.touched">
      <p class="error" *ngIf="inputUsername.errors?.['required']">
        Username is required!
      </p>
      <p class="error" *ngIf="inputUsername.errors?.['minlength']">
        Username should be at least 4 characters!
      </p>
    </ng-container>

    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="example@example.com"
      ngModel
      #inputEmail="ngModel"
      required
      [appEmail]="domains"
    />
    <ng-container *ngIf="inputEmail.touched">
      <p class="error" *ngIf="inputEmail.errors?.['required']">
        Email is required!
      </p>
      <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">
        Email is invalid! Please use emails with domain gmail,abv or yahoo.
      </p>
    </ng-container>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="****"
      ngModel
      #inputPassword="ngModel"
      required
    />
    <ng-container *ngIf="inputPassword.touched">
      <p class="error" *ngIf="inputPassword.errors?.['required']">
        Password is required!
      </p>
    </ng-container>

    <label for="rePassword">Repeat Password</label>
    <input
      type="password"
      name="rePassword"
      id="rePassword"
      placeholder="****"
      ngModel
      #inputRePassword="ngModel"
      required
    />
    <button>Register</button>
  </form>
  <p>
    Already have an account?
    <a routerLink="/login">Login</a>
  </p>
</main>
