<header>
  <div class="top-nav">
    <div class="logo-wrap">
      <h2><a routerLink="/">Training</a></h2>
    </div>
    <div *ngIf="!isLogged" class="user-nav">
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/register">Register</a>
        </li>
      </ul>
    </div>
    <div *ngIf="isLogged" class="user-nav">
      <ul>
        <li>
          <a routerLink="/profile">{{ username }}'s profile</a>
        </li>
        <li>
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <nav class="main-nav">
    <ul>
      <li><a routerLink="/create">Create Training Program</a></li>
      <li><a routerLink="/catalog">Catalog</a></li>
    </ul>
  </nav>
</header>
