<div class="container">
  <div class="wrapper">
    <ng-container *ngIf="!editView">
      <div class="avatar">
        <img src="../../../assets/back.jpg" alt="avatar" />
      </div>
      <div class="info">
        <div class="username">Username: {{ profile.username }}</div>
        <div class="email">Email: {{ profile.email | titlecase }}</div>
        <button (click)="toggleEdit()">Edit</button>
      </div>
    </ng-container>
    <ng-container *ngIf="editView">
      <form [formGroup]="form" (ngSubmit)="editProfile()">
        <label for="username">Username</label>
        <input
          type="username"
          name="username"
          id="username"
          [value]="profile.username"
          required
          minLength="4"
          formControlName="username"
        />
        <ng-container *ngIf="form.get('username')?.touched">
          <p class="error" *ngIf="form.get('username')?.errors?.['required']">
            Username is required!
          </p>
          <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
            Username should be at least 4 characters!
          </p>
        </ng-container>
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          [value]="profile.email"
          [appEmail]="domains"
          required
          formControlName="email"
        />
        <ng-container *ngIf="form.get('email')?.touched">
          <p class="error" *ngIf="form.get('email')?.errors?.['required']">
            Email is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('email')?.errors?.['emailValidator']"
          >
            Email is invalid! Please use emails with domain gmail,abv or yahoo.
          </p>
        </ng-container>
        <div class="buttons">
          <button (click)="toggleEdit()">Cancel</button>
          <button>Edit</button>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="training-list">
    <div class="created-programs">
      <ng-container *ngIf="profile.createdList.length == 0">
        <div class="empty">You don't have any created programs!</div>
      </ng-container>
      <ng-container *ngIf="profile.createdList.length != 0">
        <div class="program" *ngFor="let program of profile.createdList">
          <h3>{{ program.name }}</h3>
          <button [routerLink]="['/catalog', program._id]">More Info</button>
        </div>
      </ng-container>
    </div>
    <div class="signed-up-programs">
      <ng-container *ngIf="profile.signUpList.length == 0">
        <div class="empty">You are not signed up to any training programs!</div>
      </ng-container>
      <ng-container *ngIf="profile.signUpList.length != 0">
        <div class="program" *ngFor="let program of profile.signUpList">
          <h3>{{ program.name }}</h3>
          <button [routerLink]="['/catalog', program._id]">More Info</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
